@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: env(safe-area-inset-top, 0px);
}

:root {
  box-sizing: border-box;
  padding-top: env(safe-area-inset-top, 0px);
  padding-bottom: env(safe-area-inset-bottom, 0px);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
